@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

.ToggleGroupItem[data-state='on'] {
  @apply bg-purple-900 !important;
  @apply text-white !important;
}

.SwitchThumb {
  display: block;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 9999px;
  box-shadow: 0 2px 2px var(--blackA7);
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}
.SwitchThumb[data-state='checked'] {
  transform: translateX(19px);
}

.SwitchRoot[data-state='checked'] {
  @apply bg-purple-800 !important;
}